<html>
	<head>
		<title>{{param.title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
		<script type="text/javascript" src="/static/js/semantic.min.js"></script>
	</head>
	<body>
		<div class="ui padded grid">
			<div class="three wide column"></div>
			<div class="ten wide column">
				<div id="rendered_content">{{param.content|safe}}</div>
			</div>
			<div class="three wide column"></div>
		</div>
	</body>
</html>